<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app_id</key>
	<string>8a48b55150d5879c0150dc5d82962f9a</string>
	<key>main_account</key>
	<string>8a48b55150d5879c0150dc25db532d6c</string>
	<key>main_token</key>
	<string>5a36a264d6db4905a36116a3f38119b2</string>
	<key>serverip</key>
	<string>app.cloopen.com</string>
	<key>serverport</key>
	<string>8883</string>
	<key>subaccounts_info</key>
	<array>
		<dict>
			<key>sub_account</key>
			<string>646669f7890e11e5bb61ac853d9d52fd</string>
			<key>sub_token</key>
			<string>25171de9f95964aa233add6c5c98c177</string>
			<key>voip_account</key>
			<string>8003703000000011</string>
			<key>voip_password</key>
			<string>YWAYVxL2</string>
		</dict>
		<dict>
			<key>sub_account</key>
			<string>63ecf9aa890e11e5bb61ac853d9d52fd</string>
			<key>sub_token</key>
			<string>3ac739ee7c979e334180c95e60a5f930</string>
			<key>voip_account</key>
			<string>8003703000000007</string>
			<key>voip_password</key>
			<string>fRpjbPsB</string>
		</dict>
		<dict>
			<key>sub_account</key>
			<string>640d17eb890e11e5bb61ac853d9d52fd</string>
			<key>sub_token</key>
			<string>3548440c40a5f9f042e85eab2fd49652</string>
			<key>voip_account</key>
			<string>8003703000000008</string>
			<key>voip_password</key>
			<string>qMsNsKaq</string>
		</dict>
		<dict>
			<key>sub_account</key>
			<string>642ca76d890e11e5bb61ac853d9d52fd</string>
			<key>sub_token</key>
			<string>344cf42c4b995db7873dbd8966866f8e</string>
			<key>voip_account</key>
			<string>8003703000000009</string>
			<key>voip_password</key>
			<string>4QSHHeTD</string>
		</dict>
		<dict>
			<key>sub_account</key>
			<string>64484f26890e11e5bb61ac853d9d52fd</string>
			<key>sub_token</key>
			<string>dc0ee8b2de531475de811c16ce4fe991</string>
			<key>voip_account</key>
			<string>8003703000000010</string>
			<key>voip_password</key>
			<string>uYe7GUmW</string>
		</dict>
		<dict>
			<key>sub_account</key>
			<string>64484f26890e11e5bb61ac853d9d52fd</string>
			<key>sub_token</key>
			<string>dc0ee8b2de531475de811c16ce4fe991</string>
			<key>voip_account</key>
			<string>1001</string>
			<key>voip_password</key>
			<string>123456</string>
		</dict>
		<dict>
			<key>sub_account</key>
			<string>64484f26890e11e5bb61ac853d9d52fd</string>
			<key>sub_token</key>
			<string>dc0ee8b2de531475de811c16ce4fe991</string>
			<key>voip_account</key>
			<string>1002</string>
			<key>voip_password</key>
			<string>123456</string>
		</dict>
	</array>
</dict>
</plist>
